<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>block구문과 a링크</h3>
	
	<!-- 타임리프의 block 구문은 별도의 태그를 사용하지 않고 처리해주는 방법입니다. -->
	<ul>
		<th:block th:each="a : ${list}" th:if="${a.sno % 3 == 0}">
		<li>[[${a}]]</li>
		
		</th:block>
	</ul>
	
	<!--
		경로 2가지(/절대경로, 상대경로)
	
		<a href="result">기존의사용방법</a>
	 -->
		<a href="/view/result?sno=1&first=홍길동">기존의사용방법</a>
	
	
	<h3>타임리프 a태그로 값 넘기기</h3>+
	
	<a th:href="@{/view/result}">값이 없는 경우</a>
	<a th:href="@{/view/result(sno=1, first=가)}">값이 있는경우</a>
	
	<!-- 
	<a href="/view/result02/1/홍길동">pathvariable형식</a>
	 -->
	<a th:href="@{/view/result02/{sno}/{first}(sno=1, first=가) }">타임리프 pathvariable형식</a>
	
	
	
	
	
	
	
	
	
	
	
	
	
</body>
</html>